#root {
  font-family: "Feather Bold", sans-serif;

  margin: 0 auto;
  text-align: center;

  --dark-gray: #161616;
  --button-gray: #1f1f1f;
  --button-gray-hover: #252525;
  --nav-ion-icon: #b1b1b1;
  --background-color: #131313;
}

html, body {
  margin: 0;
}

header {
  margin-bottom: 1000px;
  width: 100%;
}

h1 {
  position: relative;
  /* top: 350px; */

  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin: 0;

  font-size: 500%;
}

header h4 {
  position: relative;
  top: 290px;
  font-size: 1.2em;
  margin: 0;
}

h3 {
  margin: 10px;

  font-size: 2em;
}

main {
  width: calc(100% - 30px);
}

.websites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-flow: row;

  justify-content: space-evenly;
  gap: 5em;
}

.container {
  text-decoration: none;
  color: white;

  background-color: var(--button-gray);
  border-radius: 8px;

  padding: 5px 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  min-width: 200px;

  transition: all ease-in-out 0.3s;
}

.container:hover {
  background-color: var(--button-gray-hover);
}

img {
  width: 100%;
  
  border-radius: 5px;
}

nav {
  position: fixed;

  top: 475px;
  right: 15px;

  font-size: 150%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;

  transition: all ease-in-out 0.3s;
}

nav ion-icon {
  cursor: pointer;

  color: white;

  transition: all ease-in-out 0.3s;
}

nav ion-icon:first-child:hover {
  color: var(--nav-ion-icon)
}

.person-outline, .construct-outline, .server-outline, .mail-outline {
  display: none;
  opacity: 0;
}

.about {
  text-align: left;
}

.self-photo {
  width: 400px;
}











.section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 50px;

  margin-bottom: 600px;

  animation: fade-in 1s linear;
  animation-timeline: view();

  animation-range-start: 0;
  animation-range-end: 620px;
}











.section-three {
  position: relative;

  width: 60%;
  left: 20%;

  overflow: hidden;

  -webkit-mask-image: linear-gradient(to right, 
    transparent 0%,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );
  mask-image: linear-gradient(to right, 
    transparent 0%, 
    black 20px, 
    black calc(100% - 20px), 
    transparent 100%
  );

  margin-bottom: 600px;

  animation: fade-in 1s linear;
  animation-timeline: view();

  animation-range-start: 0;
  animation-range-end: 620px;
}

.section-three ul {
  list-style: none;

  display: flex;
  justify-content: center;
  gap: 10px;
}

li {
  background-color: var(--button-gray);
  font-size: 1.5em;

  padding: 5px 10px;

  border-radius: 5px;
}

.scrolling-text, .scrolling-text-2 {
  position: relative;

  width: max-content;
  flex-wrap: nowrap;

  /* animation: scrolling linear; */
  animation: scrolling linear;
  animation-timeline: scroll(root);
}

.scrolling-text {
  animation-direction: reverse;
}

.scrolling-text-2 {
  animation-direction: normal;

  right: 0;
}

@keyframes scrolling {
  to { transform: translate(calc(-50% - 0.5rem)); }
}









.section-four {
  animation: fade-in 1s linear;
  animation-timeline: view();

  animation-range-start: 0;
  animation-range-end: 720px;

  display: flex;
  flex-direction: column;
  gap: 3em;

  bottom: 400px;

  position: relative;
  width: 70%;
  left: 15%;
}














.section-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  
  width: 600px;
  margin: 0 auto;
  margin-bottom: 600px;

  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: 0;
  animation-range-end: 600px;
}

.section-five h2 {
  margin: 0;
}

.section-five input, 
.section-five textarea {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  font-family: inherit;
}

.section-five input[type="text"] {
  padding: 0 5px;
}

.name-label-flex textarea {
  height: 150px;

  resize: vertical;
}

.names-flex {
  display: flex;
  gap: 2em;

  width: 100%;
}

.name-label-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  

  flex: 1;
  width: auto;

  width: 100%;
}

.send-message {
  width: 100%;
  font-family: inherit;
  height: 30px;
  font-size: 1em;

  cursor: pointer;
}

.names-flex input {
  width: 100%;
}

.subheading {
  font-size: 3em;
  margin: 0;
}

.subheading-icon {
  color: white;
  font-size: 3em;

  display: block;
  visibility: visible;
}

.subheading-flex, .subheading-flex-1 {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5em;
}

.subheading-flex-1 {
  justify-content: flex-start;
}

.degree {
  font-size: 2em;
  margin: 0;
}

.certificate {
  font-size: 1.2em;
  margin: 0;
}

.past-work {
  font-size: 1.3em;
}

@keyframes fade-in {
  from {scale: 0.5; opacity: 0; }
  to { scale: 1; opacity: 1; }
}

.scroll-watcher {
  position: fixed;
  width: 100%;
  height: 5px;

  scale: 0 1;

  top:0;

  transform-origin: left;

  animation: scroll-watcher linear;
  animation-timeline: scroll();

  background-color: var(--nav-ion-icon);
}

@keyframes scroll-watcher {
  to {scale: 1 1;}
}

.scrolling-background {
  position: fixed;
  top: 0;
  left: 0;

  /* width: 100%; */
  height: 100vh;
  opacity: 0.2;

  animation: fade-in-out linear;
  animation-timeline: view();

  animation-range-start: 500px;
  animation-range-end: 1500px;

  pointer-events: none;
}

@keyframes fade-out {
  to { opacity: .1; }
}

@keyframes fade-in-out {
  from { opacity: .7; }
  to {opacity: 0.2; }
}


footer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding-bottom: 10px;
}

footer ion-icon {
  font-size: 1.2em;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-flex {
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}

.footer-flex label {
  cursor: pointer;
}